<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaolong.xiaolong.mapper.PriceMapper">

    <resultMap id="PriceResultMap" type="com.xiaolong.xiaolong.entity.Price">
        <id property="id" column="id"/>
        <result property="currency" column="currency"/>
        <result property="priceUsd" column="priceUsd"/>
        <result property="changePercent24Hr" column="changePercent24Hr"/>
        <result property="queryTime" column="queryTime"/>
        <result property="queryTimestamp" column="queryTimestamp"/>
    </resultMap>

    <select id="selectById" parameterType="int" resultType="com.xiaolong.xiaolong.entity.Price">
        SELECT id, currency, priceUsd, changePercent24Hr, queryTime, queryTimestamp
        FROM currency_price
        WHERE id = #{id}
    </select>

    <select id="selectForNow" parameterType="String" resultType="com.xiaolong.xiaolong.entity.Price">
        SELECT id, currency, priceUsd, changePercent24Hr, queryTime, queryTimestamp FROM currency_price
        WHERE currency = #{currency} AND queryTime >= CURDATE() ORDER BY queryTime DESC
        LIMIT 1;
    </select>

    <select id="selectForDay" parameterType="String" resultMap="PriceResultMap">
        SELECT id, currency, priceUsd, changePercent24Hr, queryTime FROM currency_price
        WHERE currency = #{currency} AND queryTime > DATE_SUB(CURDATE(), INTERVAL 1 DAY)
        ORDER BY queryTime
    </select>

    <select id="selectForWeek" parameterType="String" resultMap="PriceResultMap">
        WITH currency_price_rn AS (
            SELECT *,
                ROW_NUMBER() OVER (PARTITION BY YEAR(queryTime), MONTH(queryTime), DAY(queryTime), HOUR(queryTime) ORDER BY queryTime ASC) AS rn
            FROM currency_price
            WHERE currency = #{currency}
        )
        SELECT id, currency, priceUsd, changePercent24Hr, queryTime FROM currency_price_rn
        WHERE rn = 1 AND queryTime > DATE_SUB(CURDATE(), INTERVAL 8 DAY) AND HOUR(queryTime) IN (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22)
        ORDER BY queryTime ASC;
    </select>

    <select id="selectForMonth" parameterType="String" resultMap="PriceResultMap">
        WITH currency_price_rn AS (
            SELECT *,
                ROW_NUMBER() OVER (PARTITION BY YEAR(queryTime), MONTH(queryTime), DAY(queryTime), HOUR(queryTime) ORDER BY queryTime ASC) AS rn
            FROM currency_price
            WHERE currency = #{currency}
            ORDER BY queryTime ASC
        )
        SELECT id, currency, priceUsd, changePercent24Hr, queryTime FROM currency_price_rn
        WHERE rn = 1 AND queryTime > DATE_SUB(CURDATE(), INTERVAL 31 DAY) AND HOUR(queryTime) IN (2, 8, 14, 20)
        ORDER BY queryTime ASC;
    </select>

    <select id="selectFor3Month" parameterType="String" resultMap="PriceResultMap">
        WITH currency_price_rn AS (
            SELECT *,
                ROW_NUMBER() OVER (PARTITION BY YEAR(queryTime), MONTH(queryTime), DAY(queryTime) ORDER BY queryTime ASC) AS rn
            FROM currency_price
            WHERE currency = #{currency}
            ORDER BY queryTime ASC
        )
        SELECT id, currency, priceUsd, changePercent24Hr, queryTime FROM currency_price_rn
        WHERE rn = 1 AND queryTime > DATE_SUB(CURDATE(), INTERVAL 91 DAY)
        ORDER BY queryTime ASC;
    </select>

    <select id="selectAll" resultType="com.xiaolong.xiaolong.entity.Price">
        SELECT * FROM currency_price
    </select>

    <insert id="insert" parameterType="com.xiaolong.xiaolong.entity.Price">
        INSERT INTO currency_price(currency, priceUsd, changePercent24Hr, queryTime, queryTimestamp)
        VALUES(#{currency}, #{priceUsd}, #{changePercent24Hr}, #{queryTime}, #{queryTimestamp})
    </insert>

    <insert id="insertAll" parameterType="list">
        INSERT INTO currency_price(currency, priceUsd, changePercent24Hr, queryTime)
        VALUES
        <foreach collection="priceList" item="price" index="index" separator=",">
            (#{price.currency}, #{price.priceUsd}, #{price.changePercent24Hr}, #{price.queryTime})
        </foreach>
    </insert>

    <update id="update" parameterType="com.xiaolong.xiaolong.entity.Price">
        UPDATE currency_price
        SET currency = #{currency}, priceUsd = #{priceUsd}, changePercent24Hr = #{changePercent24Hr}, queryTime =
        #{queryTime}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM currency_price WHERE id = #{id}
    </delete>
</mapper>